/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #000000;
}

.logo-holder {
  display: flex;
  justify-content: center;
}

.menu-holder {
  display: flex;
  justify-content: center;
}

.logo {
  height: 40px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

li {
  float: right;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-left: 15px;
}

.banner {
  background: #ffffff url('images/kayak-bkgd-mobile.jpg') no-repeat center top scroll;
  background-size: cover;
}

section{
  display: inline-block;
  width: 100%;
}

.container{
  font-size: 7.8px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 180px;
}

.h1-large {
   font-size: 12vw;
   padding-top: 0px;
}

.h1-small {
   font-size: 6vw;
   padding-top: 0.7em;
   padding-bottom: 0.7em;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px #818181;
  font-family: 'Pacifico';
  text-align: center;
}

h2 {
  color: #ffffff;
  text-shadow: 1px 1px #818181;
  font-family: 'Karla';
  font-size: 4vw;
  text-align: center;
  padding-top: 80px;
  text-transform: uppercase;
}

h3 {
  color: #646464;
  font-family: 'Pacifico';
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
}

.btn-signup {
  align-self: center;
  background-color: #e2574c;
  border-radius: 2em;
  border: 1px solid #e2574c;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3vw;
  padding: .75em;
}

.btn-signup:hover {
  background-color: #b64036;
  border-color: #b64036;
  color: white;
}

.a-header {
  color: #ffffff;
  font-family: 'Karla';
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.a-rentals {
  color: #e2574c;
  font-family: Arial;
  font-size: 16px;
  text-decoration: underline;
}

p {
  color: #2d2d2d;
  font-family: arial;
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 2em;
  padding-bottom: 20px;
}

.p-about {
   text-align: center;
   padding-left: 11.25%;
   padding-right: 11.25%;
   padding-top: 60px;
}

.p-rentals {
   text-align: center;
   padding-left: 11.25%;
   padding-right: 11.25%;
   padding-top: 60px;
}

.promo-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.promo-images img {
  width: 95%;
  margin: .5em 0;
  box-shadow: 1px 0px 5px 1px #666;
}

.rentals table {
  width: 100%;
  border: 1px solid #cecece;
  border-collapse: collapse;
  font-family: Arial;
  font-size: 16px;
}
.rentals th {
  background: #dddddd;
  text-align: center;
  font-weight: bold;
  padding: .8em 0;
  border: 1px solid #cecece;
}
.rentals td {
  width: 33%;
  text-align: center;
  padding: .8em;
  border: 1px solid #cecece;
}
.rentals td:first-child {
  text-align: left;
}
.rentals tr:hover {
  background-color: #fbf6d9;
}

.rentals-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.content {
  width: 98%;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
}

@media screen and (min-width: 600px) {
  .banner {
    background: #ffffff url('images/kayak-bkgd.jpg') no-repeat center top scroll;
    background-size: cover;
  }
     .logo-holder {display: inline;}
     .menu-holder {display: inline;}
     .logo {float: left; margin-left: 25px;}
     li {margin-top: 30px;}
     .h1-large {font-size: 10vw; padding-top: 0px;}
     .h1-small {font-size: 3.9vw; padding-top: 0.7em;}
     h2 {font-size: 2.5vw;}
     .btn-signup {font-size: 1.7vw;}
     .promo-images img {width: 31%;}
     .content {width: 48%; margin-left: 1%; margin-right: 1%;}
     .p-about {padding-left: 22.5%; padding-right: 22.5%;}
     .p-rentals {text-align: left; padding-left: 10px; padding-right: 30px;}
}
