body {
    background: #969696 url('images/kayak-bkgd.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #000000;
}

.logo {
  height: 40px;
  margin-top: 5px;
  margin-left: 30px;
}

h1 {
  color: #ffffff;
  font-family: 'Pacifico';
  font-size: 140px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: auto;
  text-align: center;;
  padding-top: 30px;
  text-decoration: none;
  text-transform: none;
  word-spacing: auto;
}

article{
  display: inline-block;
  margin-top: 5%;
  width: 100%;
}

p {
  color: #000000;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  word-spacing: 15px;
}
