body {
    background: #ffffff url('images/kayak-bkgd.jpg') no-repeat center top scroll;
    background-size: 100% auto;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #000000;
}

.logo {
  float: left;
  height: 40px;
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

li {
  float: right;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-left: 15px;
}

section{
  display: inline-block;
  margin-top: 5%;
  width: 100%;
}

.h1-large {
  font-size: 140px;
  padding-top: 0px;
}

.h1-small {
  font-size: 53px;
  padding-top: 30px;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px #818181;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  letter-spacing: auto;
  text-align: center;
  line-height: 0px;
  text-decoration: none;
  text-transform: none;
  word-spacing: auto;
}

h2 {
  color: #ffffff;
  text-shadow: 1px 1px #818181;
  font-family: 'Karla';
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: auto;
  text-align: center;
  line-height: 0px;
  padding-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: auto;
}

h3 {
  color: #646464;
  font-family: 'Pacifico';
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: auto;
  text-align: center;
  line-height: 0px;
  padding-top: 30%;
  text-decoration: none;
  text-transform: none;
  word-spacing: auto;
}

a {
  color: #ffffff;
  font-family: 'Karla';
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  color: #2d2d2d;
  font-family: arial;
  font-size: 16px;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 22.5%;
  padding-right: 22.5%;
  text-align: center;
}
